USE [master]
GO
/****** Object:  Database [DemoSylVac]    Script Date: 25/10/2021 8:42:00 ******/
CREATE DATABASE [DemoSylVac]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoSylVac', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoSylVac.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoSylVac_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DemoSylVac_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoSylVac].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoSylVac]
GO
/****** Object:  Table [dbo].[Punto]    Script Date: 25/10/2021 8:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punto](
	[pointId] [int] IDENTITY(1,1) NOT NULL,
	[xCoord] [decimal](12, 2) NULL,
	[yCoord] [decimal](12, 2) NULL,
 CONSTRAINT [PK_Punto] PRIMARY KEY CLUSTERED 
(
	[pointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ADD_Star]    Script Date: 25/10/2021 8:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT * FROM Punto
-- EXEC ADD_Star
CREATE PROC [dbo].[ADD_Star]
AS
SET NOCOUNT ON
BEGIN
EXEC DEL_Values
INSERT INTO Punto(xCoord,yCoord) VALUES ('0','5.5')
INSERT INTO Punto(xCoord,yCoord) VALUES ('5.5','5.5')
INSERT INTO Punto(xCoord,yCoord) VALUES ('6.5','0')
INSERT INTO Punto(xCoord,yCoord) VALUES ('9','5')
INSERT INTO Punto(xCoord,yCoord) VALUES ('14','5.5')
INSERT INTO Punto(xCoord,yCoord) VALUES ('10.5','9')
INSERT INTO Punto(xCoord,yCoord) VALUES ('12','14')
INSERT INTO Punto(xCoord,yCoord) VALUES ('6.5','11.5')
INSERT INTO Punto(xCoord,yCoord) VALUES ('2','14')
INSERT INTO Punto(xCoord,yCoord) VALUES ('3.5','9')
END
GO
/****** Object:  StoredProcedure [dbo].[ADD_Triangle]    Script Date: 25/10/2021 8:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT * FROM Punto
-- EXEC ADD_Star
CREATE PROC [dbo].[ADD_Triangle]
AS
SET NOCOUNT ON
BEGIN
	EXEC DEL_Values
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('2','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('3','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('4','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('5','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('6','1')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('5','2')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('4','3')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('3','4')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('2','5')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','6')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','5')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','4')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','3')
	INSERT INTO Punto(xCoord,yCoord) VALUES ('1','2')
END
GO
/****** Object:  StoredProcedure [dbo].[ADD_VALUES]    Script Date: 25/10/2021 8:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_VALUES](
			@xCoord decimal(12,2),
			@yCoord decimal(12,2)
)
as
	INSERT INTO Punto(xCoord, yCoord) values (@xCoord, @yCoord)
GO
/****** Object:  StoredProcedure [dbo].[DEL_Values]    Script Date: 25/10/2021 8:42:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT * FROM Punto
-- EXEC DEL_Values

CREATE PROC [dbo].[DEL_Values]
AS
SET NOCOUNT ON
BEGIN
	DELETE FROM Punto
	DBCC CHECKIDENT(Punto, RESEED, 0)
END
GO
USE [master]
GO
